<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style>
      footer {
        background-color: #f6ab51;
        padding: 5px 0;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        line-height: 1.2; /* Adjust the line height as needed */
        height: 30px; /* Adjust the height as needed */
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
      <h2>About Me</h2>
      <p>
        I'm Hrushikesh!
        <br />
        Currently working as a Data Scientist at Aidash, where I create, deploy
        computer vision and ML models on geospatial data.
        <br />
        I graduated from IIT Guwahati.
      </p>
      <p>My Tech Stack includes (in no proper order):</p>
      <ul>
        <li>FastAPI</li>
        <li>PyTorch</li>
        <li>SQLAlchemy</li>
        <li>Postgres</li>
        <li>Docker</li>
        <li>TensorFlow</li>
        <li>MLflow</li>
        <li>Metaflow</li>
        <li>Rasterio</li>
        <li>Pytest</li>
        <li>AWS tech Stack: Lambda, EC2, ECR, boto3, EKS, LightSail</li>
        <li>Nginx</li>
        <li>CICD - Github Actions</li>
        <li>Terraform</li>
        <li>ROS</li>
        <li>Apache Airflow</li>
        <li>Node.js</li>
      </ul>
      <p>Feel free to reach out to me:</p>
      <ul>
        <li>Email: hrushi.chess@gmail.com</li>
        <li>
          <a href="https://www.linkedin.com/in/hrushikesh-kyathari-964360175/"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>

    <footer class="mt-5 text-center">
      Number of images evaluated so far: {{ visits }}
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
