<!DOCTYPE html>
<html>
  <head>
    <title>About Page</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <style>
      .tech-stack {
        column-count: 2;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container mt-4">
      <h4>About Me</h4>
      <p>
        I'm Hrushikesh!
        <br />
        Currently working as a Data Scientist at Aidash, where I create, deploy
        computer vision and ML models on geospatial data.
        <br />
        I graduated from IIT Guwahati.
      </p>
      <div>
        <h4>Research</h4>
        <p>
          My Research work in collaboration with
          <a
            href="https://github.com/Hrushikesh-github/Batchout-Robustness-method"
          >
            Prof.Konda Reddy</a
          >
          was on Adversarial Robustness of Deep Neural Networks.
          <br />
          Current
          <a href="https://github.com/fra31/auto-attack#cifar-10---linf"
            >SOTA</a
          >
          on Robustness relies on Adversarial Training along with additional
          Parametrization and Regularization, which causes a huge increase in
          time to train compared to standard training. Our aim was to make a DNN
          robust without the additional time overbound of Adversarial Training.
          For this, we performed feature space perturbation, training models on
          a convex combination of different images on a particular feature space
          or set of feature space. This happens on the fly, hence takes the same
          time as normal training. Using this method, we achieved an accuracy of
          32.37% on VGG19 with a PGD (200 steps, CIFAR10-Linf) attack, which is
          close to the accuracy obtained by Adversarial Training. However, the
          approach did not generalize to ResNet and DenseNet, with the most
          likely explanation of Residual additionals altering the convex
          combination in later layers.
          <br />
          <br />
          On a hindsight, I strongly feel Adversarial Robustness is an extremely
          challenging and a major setback for trustability to A.I. The huge
          dimensional space (for CIFAR 10 it is 32 * 32 * 3 = 3072) makes
          ConvNets highly susceptible and easy to manipulate. Refer this
          excellent paper
          <a href="https://arxiv.org/abs/1704.03453">Florian Et Al</a>
          with a major finding that adversarial examples span a contiguous
          subspace of large (~25) dimensionality (This finding is for MNIST
          which has small subspace compared to CIFAR10 of 28 * 28 * 1 = 784)
        </p>
      </div>

      <div class="OTHER WORKS">
        <h4>Check out my other works:</h4>

        <div class="">
          <h6>Deep Learning and Computer Vision</h6>
          <ul>
            <li>
              <a
                href="https://github.com/Hrushikesh-github/Face-Analysis-using-deep-learning"
                >Face analysis with deep learning</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Hrushikesh-github/Image-Orientation-correction"
                >Image Orientation Correction pipeline</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Hrushikesh-github/Custom-Motion-Detector"
                >Custom Motion Detector</a
              >
            </li>
          </ul>
          <h6>Reinforcement Learning</h6>
          <ul>
            <li>
              <a href="https://github.com/Hrushikesh-github/RL-algorithms"
                >Various RL Algorithms implementation</a
              >
            </li>
            <li>
              <a href="https://github.com/Hrushikesh-github/DQN-and-Extensions"
                >Solving Pong, an atari game</a
              >
            </li>
          </ul>
          <h6>Robotics</h6>
          <ul>
            <li>
              <a
                href="https://github.com/Hrushikesh-github/Mobile-Manipulation-of-YouBot/tree/master"
                >Mobile Manipulation of youBot</a
              >
            </li>
            <li>
              <a href="https://github.com/Hrushikesh-github/ROS-Navigation"
                >Navigation Stack on ROS (Map Creation, Localization, Cost
                Planning)</a
              >
            </li>
            <li>
              <a href="https://github.com/Hrushikesh-github/URDF-TF-ROS_Control"
                >Ros Control and URDF</a
              >
            </li>
            <li>
              <a
                href="https://github.com/Hrushikesh-github/ROS-Actions_Services_topics"
                >ROS Actions and Services</a
              >
            </li>
            <li>
              <a href="https://github.com/Hrushikesh-github/ROS-Manipulation"
                >ROS Manipulation</a
              >
            </li>
          </ul>
        </div>
      </div>

<div class="tech-stack">
  <h4>My Tech Stack</h4>
      <ul>
        <li>FastAPI</li>
        <li>PyTorch</li>
        <li>Celery</li>
        <li>Postgres</li>
        <li>Docker</li>
        <li>TensorFlow</li>
        <li>MLflow</li>
        <li>Metaflow</li>
        <br>
        <li>Rasterio</li>
        <li>Pytest</li>
        <li>AWS tech Stack: Lambda, EC2, ECR, boto3, EKS, LightSail, RDS</li>
        <li>Nginx</li>
        <li>CICD - Github Actions</li>
        <li>Redis</li>
        <li>ROS</li>
        <li>Apache Airflow</li>
        <li>Node.js</li>
        </ul>
</div>

        <div>
          <h4>Contact Information</h4>
          <ul>
            <li>Email: hrushi.chess@gmail.com</li>
            <li>
              <a
                href="https://www.linkedin.com/in/hrushikesh-kyathari-964360175/"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/js/bootstrap.min.js"></script>
  </body>
</html>
